body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
}

.auth-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: #0f172a;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  color: white;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.auth-card button:hover {
  background: #16a34a;
}

.switch-text {
  margin-top: 10px;
  font-size: 14px;
}

